@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');

body {
  background: #f2f2f2;
}

.container  {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 700px;
  width: 1000px;
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #1e87e9;
}

.content {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  text-align: justify;
  color: #4e54c8;
  padding: 40px;
  font-family: 'Azeret Mono';
}

h1 {
  font-weight: 900;
  text-align: center;
  font-size: 40px;
}



